.c-row{
  display: flex;
  .c-col-6{
      width: 50%;
  }
  h2.title-contact{
    margin-bottom: 40px;
  }

}

.box-contact-page{
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}
.mb-0{
  margin-bottom: 0!important;
}