.c-row{
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  .c-col-6{
    width: 50%;
  }
  h2.title-contact{
    margin-bottom: 40px;
  }

}

.box-contact-page{
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}
.box-form-contact{
  background-color: white;
  text-align: center;
}
.mb-0{
  margin-bottom: 0!important;
}